[defaults]
inventory = ./inventory.ini
remote_user = devops 
host_key_checking = False
stdout_callback = yaml

[privilege_escalation] 
become = true
become_user = root	
become_method = sudo 

#[galaxy]
#server = https://old-galaxy.ansible.com/